<%= form_with(model: cliente, local: true, class: "form-register") do |form| %>
  <!-- <#% if cliente.errors.any? %>
    <div id="error_explanation">
      <h2><#%= pluralize(cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
        <#% cliente.errors.full_messages.each do |message| %>
          <li><#%= message %></li>
        <#% end %>
      </ul>
    </div>
  <#% end %> -->
  <div class="block -admin">
		<fieldset class="fieldset -name">
			<%= form.label :nome, "Nome", class: "label" %>
			<%= form.text_field :nome, class: "input", name: "nome", id: "nome", :required => true %>
    </fieldset>
    
    <fieldset class="fieldset -email">
			<%= form.label :email, "Email", class: "label" %>
			<%= form.text_field :email, class: "input", name: "email", id: "email", :required => true %>
    </fieldset>
    
    <fieldset class="fieldset -cpf">
			<%= form.label :cpf, "CPF", class: "label" %>
			<%= form.text_field :cpf, class: "input", name: "cpf", id: "cpf", :required => true %>
    </fieldset>
    
    <fieldset class="fieldset -endereco">
			<%= form.label :endereco, "Endereço", class: "label" %>
			<%= form.text_field :endereco, class: "input", name: "endereco", id: "endereco" %>
    </fieldset>
    
    <fieldset class="fieldset -bairro">
			<%= form.label :bairro, "Bairro", class: "label" %>
			<%= form.text_field :bairro, class: "input", name: "bairro", id: "bairro" %>
    </fieldset>
    
    <fieldset class="fieldset -cidade">
			<%= form.label :cidade, "Cidade", class: "label" %>
			<%= form.text_field :cidade, class: "input", name: "cidade", id: "cidade" %>
    </fieldset>

    <fieldset class="fieldset -estado">
			<%= form.label :estado, "Estado", class: "label" %>
			<%= form.text_field :estado, class: "input", name: "estado", id: "estado" %>
    </fieldset>
  </div>

	<div class="actions">
		<%= form.submit "Salvar", class: "action -save" %>
	</div>
<% end %>
