<%if !notice.blank?%>
    <p id="notice"><%= notice %></p>
<% end %>

<div class="container-info -clientes">
  <div class="heading">
      <h1 class="title">Clientes</h1>
  </div>

  <div class="wrapper">
      <div class="info-table -clientes">
          <table class="table">
              <thead>
                  <tr class="table-heading">
                      <th class="item -name">Nome</th>
                      <th class="item -email">Email</th>
                      <th class="item -actions"></th>
                      <th></th>
                  </tr>
              </thead>

              <tbody class="table-info">
                <% @clientes.each do |cliente| %>
                  <tr class="list">
                      <td class="item -name" data-th="Nome"><%= cliente.usuario.nome %></td>
                      <td class="item -email" data-th="Email"><%= cliente.usuario.email %></td>
                      <td class="actions" data-th="Ações">
                          <%= link_to 'Ver', view_clientes_path(email: cliente.usuario.email), class: "action -underlined -view" %>
                          <%= link_to 'Editar', editar_clientes_path(email: cliente.usuario.email), class: "action -underlined -edit" %>
                          <%= link_to 'Apagar', excluir_clientes_path(email: cliente.usuario.email), method: :delete, data: { confirm: 'Você tem certeza?' }, class: "action -underlined -delete" %>
                      </td>
                  </tr>
                <% end %>
              </tbody>
          </table>
      </div>

      <%= link_to '<i class="fa fa-plus"></i> Novo cliente'.html_safe, new_cliente_path, class: "action -new" %>
  </div>
</div>
