<%= form_with(model: admin, local: true, class: "form-register") do |form| %>
    <% if admin.errors.any? %>
        <div id="error_explanation">
        <h2><%= pluralize(admin.errors.count, "error") %> prohibited this admin from being saved:</h2>

        <ul>
            <% admin.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
        </div>
    <% end %>

    <div class="block -admin">
		<fieldset class="fieldset -name">
			<%= form.label :nome, "Nome", class: "label" %>
			<%= form.text_field :nome, class: "input", name: "nome", id: "nome", :required => true %>
        </fieldset>

        <fieldset class="fieldset -email">
			<%= form.label :email, "Email", class: "label" %>
			<%= form.text_field :email, class: "input", name: "email", id: "email", :required => true %>
		</fieldset>
    </div>

	<div class="actions">
		<%= form.submit "Salvar", class: "action -save" %>
	</div>
<% end %>
