<div class="form-container -admin">
    <div class="wrapper">
        <div class="heading">
            <h1 class="legend">Editando administrador</h1>
        </div>

        <%= form_with(url: "/admins/atualizar", method: "get", class: "form-register") do |f| %>
            <div class="block -admin">
                <fieldset class="fieldset -name">
                    <%= f.label :nome, "Nome", class: "label" %>
                    <%= f.text_field :nome, value: @admin.nome, class: "input", name: "nome", id: "nome", :required => true %>
                </fieldset>

                <fieldset class="fieldset -email">
                    <%= f.label :email, "Email", class: "label" %>
                    <%= f.text_field :email, value: @admin.email, class: "input", name: "email", id: "email", :required => true %>
                </fieldset>

                <fieldset class="fieldset -password">
                    <%= f.label :senha, "Senha", class: "label" %>
                    <%= f.password_field :senha, class: "input", name: "senha", id: "senha" %>
                </fieldset>
            </div>

            <div class="actions">
                <%= f.submit "Salvar", class: "action -save" %>
            </div>
        <% end %>

        <div class="actions">
            <%= link_to 'Ver admin', view_admins_path(email: @admin.email), class: "action -show" %>
            <%= link_to '<i class="fas fa-reply"></i> Voltar'.html_safe, admins_path, class: "action -back" %>
        </div>
    </div>
</div>
