<%if !notice.blank?%>
    <p id="notice"><%= notice %></p>
<% end %>

<div class="container-info -admins">
  <div class="heading">
      <h1 class="title">Administradores</h1>
  </div>

  <div class="wrapper">
      <div class="info-table -admins">
          <table class="table">
              <thead>
                  <tr class="table-heading">
                      <th class="item -name">Nome</th>
                      <th class="item -email">Email</th>
                      <th class="item -actions"></th>
                      <th></th>
                  </tr>
              </thead>

              <tbody class="table-info">
                <% @admins.each do |admin| %>
                  <tr class="list">
                      <td class="item -name" data-th="Nome"><%= admin.usuario.nome %></td>
                      <td class="item -email" data-th="Email"><%= admin.usuario.email %></td>
                      <td class="actions" data-th="Ações">
                          <%= link_to 'Ver', admin, class: "action -underlined -view" %>
                          <%= link_to 'Editar', edit_admim_path(admin), class: "action -underlined -edit" %>
                          <%= link_to 'Apagar', admin, method: :delete, data: { confirm: 'Are you sure?' }, class: "action -underlined -delete" %>
                      </td>
                  </tr>
                <% end %>
              </tbody>
          </table>
      </div>

      <%= link_to '<i class="fa fa-plus"></i> Novo admin'.html_safe, new_admim_path, class: "action -new" %>
  </div>
</div>
