<p id="notice"><%= notice %></p>

<h1>Categorias Produtos</h1>

<table>
  <thead>
    <tr>
      <th>Categoria</th>
      <th>Produto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categorias_produtos.each do |categorias_produto| %>
      <tr>
        <td><%= categorias_produto.categoria_id %></td>
        <td><%= categorias_produto.produto_id %></td>
        <td><%= link_to 'Show', categorias_produto %></td>
        <td><%= link_to 'Edit', edit_categorias_produto_path(categorias_produto) %></td>
        <td><%= link_to 'Destroy', categorias_produto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Categorias Produto', new_categorias_produto_path %>
