<%= form_with(model: @compra, local: true, id: "regForm") do |form| %>
    <% if @compra.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@compra.errors.count, "error") %> prohibited this compra from being saved:</h2>

            <ul>
                <% @compra.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div class="checkout-progress">
        <div class="item -active">
            <span class="progress">
            </span>
            <p class="title">
                Carrinho
            </p>
        </div>

        <div class="item">
            <span class="progress">
            </span>
            <p class="title">
                Entrega
            </p>
        </div>

        <div class="item">
            <span class="progress">
            </span>
            <p class="title">
                Confirmação
            </p>
        </div>

        <div class="item">
            <span class="progress">
            </span>
            <p class="title">
                Pagamento
            </p>
        </div>
    </div>

    <div class="checkout-wizard">
        <div class="wrapper">
            <div class="tab">
                <h2 class="title">Quantidade de itens no carrinho: <%= @produtos.count %></h2>
                <div class="summary-container">
                    <div class="checkout-products">
                        <ul class="list">
                            <%@valor_total = 0%>
                            <% @produtos.each do |produto| %>
                                <li class="product">
                                    <div class="minimal-details">
                                        <div class="image">
                                            <span class="qty"><%= produto[:quantidade]%></span>
                                            <%=  image_tag produto[:produto].foto, class: "img", alt: "Imagem do produto" %>
                                        </div>

                                        <div class="attributes">
                                            <h3 class="name"><%= produto[:produto][:nome] %></h3>
                                        </div>
                                        <% @total = produto[:quantidade].to_i*produto[:produto][:preco].to_f %>
                                        <div class="price">
                                            <span class="subtotal">R$ <%= produto[:produto][:preco].blank? ? "0.0" : number_with_precision(produto[:produto][:preco].blank? ? "0.0" : produto[:produto][:preco], :precision => 2, separator: ",", :delimiter => '.')%></span>
                                        </div>
                                    </div>
                                </li>

                                <% @valor_total =  @valor_total + @total %>
                            <% end %>
                        </ul>
                    </div>
                    <div class="heading">
                        <h2 class="title">Subtotal</h2>
                        <h2 class="price">R$ <%= @valor_total.blank? ? "0.0" : number_with_precision(@valor_total.blank? ? "0.0" : @valor_total, :precision => 2, separator: ",", :delimiter => '.')%></h2>
                    </div>
                </div>
                <%= form.hidden_field :valor_total, value: @valor_total + 10%>
            </div>
            <div class="tab">
                <h1 class="legend">Informações para entrega</h1>

                <fieldset class="fieldset -cep">
                    <%= form.label :cep, "CEP", class: "label" %>
                    <%= form.text_field :cep, class: "input", placeholder: "60000-000", maxlength: 9, required: true %>
                </fieldset>

                <fieldset class="fieldset -bairro">
                    <%= form.label :bairro, "Bairro", class: "label" %>
                    <%= form.text_field :bairro, class: "input", required: true %>
                </fieldset>

                <fieldset class="fieldset -address">
                    <%= form.label :endereco, "Endereço", class: "label" %>
                    <%= form.text_field :endereco, class: "input", required: true %>
                </fieldset>

                <fieldset class="fieldset -city">
                    <%= form.label :cidade, "Cidade", class: "label" %>
                    <%= form.text_field :cidade, class: "input", required: true %>
                </fieldset>

                <fieldset class="fieldset -estado">
                    <label class="label" for="estado">
                        Estado:
                    </label>
                    <%= form.select :estado,[["Acre"], ["Alagoas"], ["Amapá"], ["Amazonas"], ["Bahia"], ["Ceará"], ["Distrito Federal"], ["Espirito Santo"], ["Goiás"], ["Maranhão"], ["Mato Grosso"], ["Mato Grosso do sul"], ["Minas Gerais"], ["Pará"], ["Paraíba"], ["Paraná"], ["Pernambuco"], ["Piauí"], ["Rio de Janeiro"], ["Rio Grande do Norte"], ["Rio Grande do Sul"], ["Rondônia"], ["Roraima"], ["Santa Catarina"], ["São Paulo"], ["Sergipe"], ["Tocantins"]], {prompt: "Selecione um Estado"}, class: "select", :required => true %>
                </fieldset>
            </div>
            <div class="tab">
                <h1 class="legend">Confirmar dados</h1>

                <div class="summary-container">
                    <div class="info">
                        <h2 class="title">Subtotal</h2>
                        <h2 class="price">R$ <%= @valor_total.blank? ? "0.0" : number_with_precision(@valor_total.blank? ? "0.0" : @valor_total, :precision => 2, separator: ",", :delimiter => '.')%></h2>
                    </div>

                    <div class="info">
                        <h2 class="title">Frete</h2>
                        <h2 class="price">R$10,00</h2>
                    </div>

                    <div class="info">
                        <h2 class="title">Total</h2>
                        <h2 class="price">R$ <%= @valor_total.blank? ? "0.0" : number_with_precision(@valor_total.blank? ? "0.0" : @valor_total + 10, :precision => 2, separator: ",", :delimiter => '.')%></h2>
                    </div>
                </div>

                <!-- apenas se o usuário for admin -->
                <% if session[:papel_id] == "Administrador" %>
                    <h1 class="legend">Selecione o cliente</h1>
                    <fieldset class="fieldset -cliente">
                        <%= form.select :cliente_id, Usuario.all.collect{|u| [u.nome + " - " + u.email , u.id]}, {:prompt => 'Selecione o Cliente'}, class: "select", :required => true %>
                    </fieldset>
                <% else %>
                    <% cliente = Cliente.find_by(usuario_id: current_usuario.id) %>
                    <%= form.hidden_field :cliente_id, value: cliente.id %>
                <% end %>
            </div>
            <div class="tab">
                <h1 class="legend">Pagamento</h1>

                <div class="payment-container">
                    <div class="payment-forms">
                        <fieldset class="fieldset">
                            <label class="label">Boleto
                                <%= form.radio_button :forma_pagamento, "Boleto", class: "radio", id: "boleto", :checked => true %>
                                <span class="checkmark"></span>
                            </label>
                            <label class="label">Cartão de Crédito
                                <%= form.radio_button :forma_pagamento, "Cartão de Crédito", id: "credit", class: "radio" %>
                                <span class="checkmark"></span>
                            </label>
                        </fieldset>
                    </div>

                    <div class="card-container -visible">
                        <fieldset class="fieldset -card">
                            <%= form.label :numero_cartao, "Número do Cartão", class: "label" %>
                            <%= form.text_field :numero_cartao, class: "input", placeholder: "0000 0000 0000 0000", maxlength: 19 %>
                        </fieldset>

                        <fieldset class="fieldset -name">
                            <%= form.label :nome_titular, "Nome do titular", class: "label" %>
                            <%= form.text_field :nome_titular, class: "input" %>
                        </fieldset>

                        <br />

                        <fieldset class="fieldset -expire">
                            <%= form.label :data_validade, "Data de validade", class: "label" %>
                            <%= form.text_field :data_validade, class: "input", placeholder: "00/00", maxlength: 5 %>
                        </fieldset>

                        <fieldset class="fieldset -cvv">
                            <%= form.label :cvv, "CVV", class: "label" %>
                            <%= form.text_field :cvv, class: "input", placeholder: "000", maxlength: 3 %>
                        </fieldset>
                    </div>

                    <div class="boleto-container">
                        <div class="actions">
                            <a class="action -download" href="<%=image_url('boleto.pdf')%>" download>
                                <i class="fas fa-download"></i> Baixar Boleto
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="actions">
                <button type="button" class="action -prev" id="prev_button">Voltar</button>
                <button type="button" class="action -next" id="next_button">Próximo</button>
                <%= form.submit "Concluir compra", class: "action -finish", id: "finish_button" %>
            </div>
        </div>
    </div>
<% end %>
