<%if !notice.blank?%>
    <p id="notice"><%= notice %></p>
<% end %>

<div class="container-info -compras">
    <div class="heading">
        <h1 class="title">Compras</h1>
    </div>

    <div class="info">
        <%= link_to '<i class="fas fa-shopping-cart"></i> Compra presencial'.html_safe, catalogo_produtos_path, class: "link" %>

        <p class="text">
            Com a compra presencial, você pode realizar a compra normalmente pelo cliente,
            escolhendo os produtos e apenas inserindo os dados do mesmo, informando no final o e-mail.
        </p>
    </div>

    <div class="info">
        <%= link_to '<i class="fas fa-calendar-week"></i> Relatório de compras'.html_safe, relatorio_compras_path, class: "link" %>

        <p class="text">
            Acesse o relatório de compras para acessar o total de compras por cliente em um determinado período ou o total de compras por dia
        </p>
    </div>

    <div class="wrapper">
        <div class="info-table -compras">
            <table class="table">
                <thead>
                    <tr class="table-heading">
                        <th class="item -name">Nome do cliente</th>
                        <th class="item -email">Email do cliente</th>
                        <th class="item -datetime">Data/Hora da compra</th>
                        <th class="item -status">Status</th>
                        <th class="item -total">Valor total</th>
                        <th class="item -produtos">Produtos da compra</th>
                        <th class="item -actions"></th>
                        <th></th>
                    </tr>
                </thead>

                <tbody class="table-info">
                    <% @compras.each do |compra| %>
                    <tr class="list">
                        <td class="item -name" data-th="Nome">
                            <%= compra.cliente.usuario.nome %>
                        </td>
                        <td class="item -email" data-th="Email">
                            <%= compra.cliente.usuario.email %>
                        </td>
                        <td class="item -datetime" data-th="Data/Hora">
                            <%= compra.data.strftime("%d/%m/%Y") %> - <%= compra.hora.strftime("%H:%M") %>
                        </td>
                        <td class="item -status" data-th="Status">
                            <%= compra.status %>
                        </td>
                        <td class="item -total" data-th="Total">
                            R$ <%= number_with_precision(compra.valor_total, :precision => 2, separator: ",", :delimiter => '.')%>
                        </td>
                        <td class="actions -produtos" data-th="Produtos">
                            <%= link_to 'Ver produtos', produtos_compras_path(compra_id: compra.id), class: "action -underlined -view" %>
                        </td>
                        <td class="actions" data-th="Ações">
                            <%= link_to 'Ver', compra_path(compra), class: "action -underlined -view" %>
                            <%= link_to 'Editar', edit_compra_path(compra), class: "action -underlined -edit" %>
                            <%= link_to 'Apagar', compra, method: :delete, data: { confirm: 'Você tem certeza?' }, class: "action -underlined -delete" %>
                        </td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
