<%if !notice.blank?%>
    <p id="notice"><%= notice %></p>
<% end %>

<div class="container-info -minhascompras">
    <div class="heading">
        <h1 class="title">Minhas compras</h1>
    </div>

    <div class="wrapper">
        <div class="info-table -minhascompras">
            <table class="table">
                <thead>
                    <tr class="table-heading">
                        <th class="item -total">Valor total</th>
                        <th class="item -pagamento">Forma de pagamento</th>
                        <th class="item -datetime">Data/Hora da compra</th>
                        <th class="item -endereco">Endereço</th>
                        <th class="item -actions"></th>
                        <th></th>
                    </tr>
                </thead>

                <tbody class="table-info">
                    <% @compras.each do |compra| %>
                    <tr class="list">
                        <td class="item -total" data-th="Valor total (R$)">
                            R$ <%= number_with_precision(compra.valor_total, :precision => 2, separator: ",", :delimiter => '.')%>
                        </td>
                        <td class="item -pagamento" data-th="Forma de pagamento">
                            <%= compra.forma_pagamento %>
                        </td>
                        <td class="item -datetime" data-th="Data/Hora da compra">
                            <%= compra.data.strftime("%d/%m/%Y") %> - <%= compra.hora.strftime("%H:%M") %>
                        </td>
                        <td class="item -endereco" data-th="Endereço"><%= compra.endereco %></td>
                        <td class="actions" data-th="Ações">
                            <%= link_to 'Ver detalhes', compra_path(compra), class: "action -underlined -view" %>
                        </td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
