<%if !notice.blank?%>
    <p id="notice"><%= notice %></p>
<% end %>

<div class="container-info -relatoriocomprascliente">
    <div class="heading">
        <h1 class="title">Relatório de compras por cliente</h1>
    </div>
    <div class="wrapper">
        <div class="search-box">
            <fieldset class="fieldset -periodo">
                <%= label_tag :periodo_de, "De", class: "label" %>
                <%= date_field_tag(:periodo_de, Date.today, class: "input", id: "inicio_cliente") %>
            </fieldset>

            <fieldset class="fieldset -periodo">
                <%= label_tag :periodo_ate, "Até", class: "label" %>
                <%= date_field_tag(:periodo_ate, Date.today, class: "input", id: "fim_cliente") %>
            </fieldset>

            <div class="actions">
                <%= button_tag "Buscar", class: "action -buscar", id: "buscar_cliente" %>
            </div>
        </div>
        <%= render 'relatorio_cliente' %>
    </div>
</div>

<div class="container-info -relatoriocomprasdiario">
    <div class="heading">
        <h1 class="title">Relatório de compras diário</h1>
    </div>

    <div class="wrapper">
        <div class="search-box">
            <fieldset class="fieldset -periodo">
                <%= label_tag :periodo_de, "De", class: "label" %>
                <%= date_field_tag(:periodo_de, Date.today, class: "input", id: "inicio_diario") %>
            </fieldset>

            <fieldset class="fieldset -periodo">
                <%= label_tag :periodo_ate, "Até", class: "label" %>
                <%= date_field_tag(:periodo_ate, Date.today, class: "input", id: "fim_diario") %>
            </fieldset>

            <div class="actions">
                <%= button_tag "Buscar", class: "action -search", id: "buscar_diario" %>
            </div>
        </div>
        <%= render 'relatorio_diario' %>
    </div>
</div>
