<%= form_with(model: produto, local: true, class: "form-register") do |form| %>
	<% if produto.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(produto.errors.count, "erro") %> não permitiu que esse produto fosse salvo:</h2>

			<ul>
				<% produto.errors.full_messages.each do |message| %>
				<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class="block -produtos">
		<fieldset class="fieldset -foto">
			<%= form.label :foto, "Foto do produto", class: "label" %>
			<%= form.file_field :foto, class: "input" %>
			<span class="note">Tipos permitidos: .png, .jpg, .jpeg</span>
		</fieldset>

		<fieldset class="fieldset -name">
			<%= form.label :nome, "Nome", class: "label" %>
			<%= form.text_field :nome, class: "input", :required => true %>
		</fieldset>

		<fieldset class="fieldset -qty">
			<%= form.label :quantidade, "Quantidade estoque", class: "label" %>
			<%= form.number_field :quantidade, class: "input", :required => true %>
		</fieldset>

		<fieldset class="fieldset -price">
			<%= form.label :preco, "Preço unitário", class: "label" %>
			<%= form.text_field :preco, class: "input", placeholder: "ex.: 1000.99", :required => true %>
		</fieldset>

		<% if !@categorias.blank? %>
			<fieldset class="fieldset -categoria">
				<%= form.label :categoria, "Categorias", class: "label" %>

				<div class="control">
					<% @categorias.each do |categoria| %>
						<%= form.check_box(:categoria, { :multiple => true }, categoria.id, nil) %>
						<%= form.label categoria.id, categoria.nome, class: "checkbox" %>
					<% end %>


					<!-- <%#= form.check_box :categoria2, class: "checkbox" %> -->
					<!-- <%#= form.label :categoria2, "Biquini", class: "checkbox" %> -->
				</div>
			</fieldset>
		<% end %>
	</div>

	<div class="actions">
		<%= form.submit "Salvar", class: "action -save" %>
	</div>
<% end %>
