<div class="products-list">
    <h2 class="title">Produtos</h2>
    
    <ul class="list">
        <li class="item">
            <div class="product-info">
                <div class="product-image">
                    <a href="#" class="link">
                        <%=  image_tag "produto-img.png", class: "img", alt: "Imagem do produto" %> 
                    </a>
                </div>
                <div class="details">
                    <div class="product-name">
                        <%= link_to 'Biquini asa delta', view_produtos_path, class: "name -underlined"%>
                    </div>

                    <div class="price-container">
                        <span class="price">R$ 79,00</span> 
                    </div>

                    <div class="actions">
                        <a href="#" type="button" class="action -tocart">
                            Adicionar ao carrinho
                        </a>
                    </div>
                </div>
            </div>
        </li>

        <li class="item">
            <div class="product-info">
                <div class="product-image">
                    <a href="#" class="link">
                        <%=  image_tag "produto-img2.png", class: "img", alt: "Imagem do produto" %> 
                    </a>
                </div>
                <div class="details">
                    <div class="product-name">
                        <%= link_to 'Saída de banho', view_produtos_path, class: "name -underlined"%>
                    </div>
                    

                    <div class="price-container">
                        <span class="price">R$ 89,90</span>
                    </div>

                    <div class="actions">
                        <a href="#" type="button" class="action -tocart">
                            Adicionar ao carrinho
                        </a>
                    </div>
                </div>
            </div>
        </li>

        <li class="item">
            <div class="product-info">
                <div class="product-image">
                    <a href="#" class="link">
                        <%=  image_tag "produto-img.png", class: "img", alt: "Imagem do produto" %> 
                    </a>
                </div>
                <div class="details">
                    <div class="product-name">
                        <%= link_to 'Maiô trançado', view_produtos_path, class: "name -underlined"%>
                    </div>
                    

                    <div class="price-container">
                        <span class="price">R$ 179,00</span>
                    </div>

                    <div class="actions">
                        <a href="#" type="button" class="action -tocart">
                            Adicionar ao carrinho
                        </a>
                    </div>
                </div>
            </div>
        </li>


        <li class="item">
            <div class="product-info">
                <div class="product-image">
                    <a href="#" class="link">
                        <%=  image_tag "produto-img2.png", class: "img", alt: "Imagem do produto" %> 
                    </a>
                </div>
                <div class="details">
                    <div class="product-name">
                        <%= link_to 'Biquini crochê', view_produtos_path, class: "name -underlined"%>
                    </div>
                    

                    <div class="price-container">
                        <span class="price">R$ 89,90</span>
                    </div>

                    <div class="actions">
                        <a href="#" type="button" class="action -tocart">
                            Adicionar ao carrinho
                        </a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>