<%if !notice.blank?%>
    <p id="notice"><%= notice %></p>
<% end %>

<div class="products-list">
    <h2 class="title">Produtos</h2>

    <ul class="list">
        <% @produtos.each do |produto| %>
            <li class="item">
                <div class="product-info">
                    <div class="product-image">
                        <%= link_to view_produtos_path(produto_id: produto.id), class: "link" do %>
                            <%=  image_tag produto.foto, class: "img", alt: "Imagem do produto" %>
                        <% end %>
                    </div>
                    <div class="details">
                        <div class="product-name">
                            <%= link_to produto.nome, view_produtos_path(produto_id: produto.id), class: "name -underlined"%>
                        </div>

                        <div class="price-container">
                            <span class="price">
                                R$ <%= produto.preco.blank? ? "0.0" : number_with_precision(produto.preco.blank? ? "0.0" : produto.preco, :precision => 2, separator: ",", :delimiter => '.')%>
                            </span>
                        </div>

                        <div class="actions">
                            <a href="#" type="button" class="action -tocart">
                                Adicionar ao carrinho
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        <% end %>
    </ul>
</div>
