<%if !notice.blank?%>
    <p id="notice"><%= notice %></p>
<% end %>

<div class="container-info -produtos">
    <div class="heading">
        <h1 class="title">Produtos</h1>
    </div>

    <div class="wrapper">
        <div class="info-table -produtos">
            <table class="table">
                <thead>
                    <tr class="table-heading">
                        <th class="item -img"></th>
                        <th class="item -name">Nome</th>
                        <th class="item -price">Preço</th>
                        <th class="item -qty">Quantidade estoque</th>
                        <th class="item -actions"></th>
                        <th></th>
                    </tr>
                </thead>

                <tbody class="table-info">
                    <% @produtos.each do |produto| %>
                        <tr class="list">
                            <td class="item -img" data-th="Imagem do produto">
                                <%=  image_tag produto.foto, class: "img", alt: "Imagem do produto" %>
                            </td>
                            <td class="item -name" data-th="Nome">
                                <%= produto.nome %>
                            </td>
                            <td class="item -price" data-th="Preço">
                                R$ <%= produto.preco.blank? ? "0.0" : number_with_precision(produto.preco.blank? ? "0.0" : produto.preco, :precision => 2, separator: ",", :delimiter => '.')%>
                            </td>
                            <td class="item -qty" data-th="Quantidade estoque">
                                <%= produto.quantidade %>
                            </td>
                            <td class="actions" data-th="Ações">
                                <%= link_to 'Ver', produto_path(produto), class: "action -underlined -view" %>
                                <%= link_to 'Editar', edit_produto_path(produto), class: "action -underlined -edit" %>
                                <%= link_to 'Apagar', produto, method: :delete, data: { confirm: 'Você tem certeza?' }, class: "action -underlined -delete" %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>

        <%= link_to '<i class="fa fa-plus"></i> Novo produto'.html_safe, new_produto_path, class: "action -new" %>
    </div>
</div>

<div class="container-info -produtosfaltando">
    <div class="heading">
        <h1 class="title">Produtos em falta</h1>
    </div>

    <div class="wrapper">
        <div class="info-table -produtosfaltando">
            <table class="table">
                <thead>
                    <tr class="table-heading">
                        <th class="item -img"></th>
                        <th class="item -name">Nome</th>
                        <th class="item -price">Preço</th>
                        <th class="item -qty">Quantidade estoque</th>
                        <th class="item -actions"></th>
                        <th></th>
                    </tr>
                </thead>

                <tbody class="table-info">
                    <% @produtos_sem_estoque.each do |produto| %>
                        <tr class="list">
                            <td class="item -img" data-th="Imagem do produto">
                                <%=  image_tag produto.foto, class: "img", alt: "Imagem do produto" %>
                            </td>
                            <td class="item -name" data-th="Nome">
                                <%= produto.nome %>
                            </td>
                            <td class="item -price" data-th="Preço">
                                R$ <%= produto.preco.blank? ? "0.0" : number_with_precision(produto.preco.blank? ? "0.0" : produto.preco, :precision => 2, separator: ",", :delimiter => '.')%>
                            </td>
                            <td class="item -qty" data-th="Quantidade estoque">
                                <%= produto.quantidade %>
                            </td>
                            <td class="actions" data-th="Ações">
                                <%= link_to 'Ver', produto_path(produto), class: "action -underlined -view" %>
                                <%= link_to 'Editar', edit_produto_path(produto), class: "action -underlined -edit" %>
                                <%= link_to 'Apagar', produto, method: :delete, data: { confirm: 'Você tem certeza?' }, class: "action -underlined -delete" %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
