<p id="notice"><%= notice %></p>

<div class="container-info -produtos">
    <div class="heading">
        <h1 class="title">Produtos</h1>
    </div>

    <div class="wrapper">
        <div class="info-table -produtos">
            <table class="table">
                <thead>
                    <tr class="table-heading">
                        <th class="item -img"></th>
                        <th class="item -name">Nome</th>
                        <th class="item -price">Preço</th>
                        <th class="item -qty">Quantidade estoque</th>
                        <th class="item -actions"></th>
                        <th></th>
                    </tr>
                </thead>

                <tbody class="table-info">
                    <!-- <#% @produtos.each do |produto| %> -->
                    <tr class="list">
                        <td class="item -img" data-th="Imagem do produto">
                            <%=  image_tag "produto-img2.png", class: "img", alt: "Imagem do produto" %> 
                        </td>
                        <td class="item -name" data-th="Nome">Biquini asa delta</td>
                        <td class="item -price" data-th="Preço">R$ 89,90</td>
                        <td class="item -qty" data-th="Quantidade estoque">10</td>
                        <td class="actions" data-th="Ações">
                            <%= link_to 'Ver', produto_path(1), class: "action -underlined -view" %>
                            <%= link_to 'Editar', edit_produto_path(1), class: "action -underlined -edit" %>
                            <%= link_to 'Apagar', produtos_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "action -underlined -delete" %>
                        </td>
                    </tr>
                    <!-- <%# end %> -->
                </tbody>
            </table>
        </div>

        <%= link_to '<i class="fa fa-plus"></i> Novo produto'.html_safe, new_produto_path, class: "action -new" %>
    </div>
</div>