<!DOCTYPE html>
<html>

<head>
	<title>Ecommerce</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>

	<%= favicon_link_tag asset_path('favicon.png') %>

	<!-- Main css styles -->
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

	<!-- Main javascript files -->
	<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="page-view">
	<%= javascript_pack_tag 'masks' %>

	<div class="page-wrapper">
		<%= render 'layouts/menu' %>

		<main class="page-main">
			<%= yield %>
		</main>
	</div>

	<%= javascript_pack_tag 'scripts' %>
</body>

</html>
